# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Dataset (ignore entire dataset folder)
data/dataset_faces/

# Model files
*.pt
*.pth
*.h5
*.ckpt

# Logs
logs/
runs/

# IDE
.vscode/
.idea/
.git/